%li.list-group-item.message{id: "message-#{message.id}"}
  = link_to message do
    .d-flex
      .item
        = message.subject
        = message.from
      .item.ml-auto
        = message.created_at.strftime('%H:%M %d/%m/%Y')