.row
  .col-sm-12
    .d-flex.justify-content-center.align-items-center
      .mr-auto.p-2 
        %h1= @message.subject
        %h5= @message.from
      .p-2
        = link_to 'Delete Message', message_path(@message), method: :delete, class: 'btn btn-outline-danger'
%hr

.row.mt-3
  .col-sm-12
    - # is this really safe?
    .card
      .card-body
        = @message.html.html_safe

.row.mt-5
  .col-sm-12
    %pre= pp @message.to_yaml