#header.container-fluid
  %nav.mt-3{aria: {label: 'breadcrumb'}}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Dashboard', root_path, class: 'text-info'
      %li.breadcrumb-item
        = link_to @message.profile.name, @message.profile, class: 'text-info'
      %li.breadcrumb-item.active{aria: {current: 'page'}}
        = @message.subject
  = render partial: 'dashhead'


#page.container-fluid.grey-panel.p-5{data: {id: @message.id}}
  - unless @message.files.empty?
    .row.my-3
      .col-sm-14
        .p-5
          %h3
            %i.fas.fa-clipboard
            Attachments
            = "(#{@message.files.size})"
          %ul.list-group
            - @message.files.each do |file|
              %li.list-group-item
                = link_to file.filename.to_s, rails_blob_path(file, disposition: "attachment")

  .row.mt-3
    .col-sm-12
      %iframe{src: message_html_message_path(@message.id), width: "100%", id: "message_render"}
