#header-panel.container-fluid
  %nav{aria: {label: 'breadcrumb'}}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Dashboard', root_path, class: 'text-primary'
      %li.breadcrumb-item.active{aria: {current: 'page'}}
        = @profile.name

  = render partial: 'dashhead'
  .row
    .col-sm-3
      = render partial: 'application/profiles_navigation'
    .col-sm-9
      - unless @profile.messages.empty?
        %table.table.table-striped#dashboard-table{data: {source: messages_path(format: :json)}}
          %thead
            %tr
              %th Subject
              %th From
              %th Recieved
              %th Profile
          %tbody
            - @profile.messages.each do |m|
              = render partial: 'messages/table_row', locals: {message: m}
      - else
        = render partial: 'home/welcome'