#header-panel.container-fluid
  %nav{aria: {label: 'breadcrumb'}}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Dashboard', root_path, class: 'text-primary'
      %li.breadcrumb-item.active{aria: {current: 'page'}}
        = @profile.name

  = render partial: 'dashhead'

#page.container-fluid.grey-panel.py-3{data: {id: @profile.id}}
  - unless @profile.messages.empty?
    .row
      .col-sm-12
        .card
          .card-header
            %h3 Recent Messages
          .card-body
            %ul#messages-list.list-group.mb-5{data: {id: current_user.id, profile: @profile.id}}              
              - @profile.messages.each do |m|
                = render m
  - else
    = render partial: 'home/welcome'