.row.my-5
  .col-sm-2
  .col-sm-10

    %h1.my-5 Resend confirmation instructions
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'form',method: :post }) do |f|
      = devise_error_messages!
      .field.my-5
        .row
          .col-md-8.col-sm-12
            = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control form-control-lg'
          .col-md-4.col-sm-12
            %h2= f.label :email
        
      .actions.my-5
        = f.submit "Resend confirmation instructions", class: 'btn btn-lg btn-outline-primary'
    .my-5= render "devise/shared/links"