#login-block.pt-5
  .row
    .col-sm-5.offset-sm-1
      %h2.my-4 Update your account
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .field.my-5
          .row
            .col-md-4.col-sm-12
              %h3= f.label :email
            .col-md-8.col-sm-12
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg'

              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
        .field.my-3
          .row
            .col-md-4.col-sm-12
              %h3= f.label :password
              %i (leave blank if you don't want to change it)
            .col-md-8.col-sm-12
              = f.password_field :password, autocomplete: "off", class: 'form-control form-control-lg'
              - if @minimum_password_length
                %br/
                %em
                  = @minimum_password_length
                  characters minimum
        .field.my-3
          .row
            .col-md-4.col-sm-12
              %h3= f.label :password_confirmation
            .col-md-8.col-sm-12
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control form-control-lg'
        .field.my-5
          .row
            .col-md-4.col-sm-12
              %h3= f.label :current_password
              %i (we need your current password to confirm your changes)
            .col-md-8.col-sm-12
              = f.password_field :current_password, autocomplete: "off", class: 'form-control form-control-lg'
        .actions
          = f.submit "Update", class: 'btn btn-outline-primary btn-lg'
    .col-sm-5.offset-sm-1
      %h2.my-4 Cancel my account
      %p
        Unhappy? 
        #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account? Your data will be permenently deleted." }, method: :delete, class: 'btn btn-outline-danger btn-lg'}
