#dashboard.container-fluid
  .row
    .col-sm-4.pt-3.pb-5
      - if current_user.stripe_subscription_id.empty?
        .mt-2
            
          %button.btn.btn-outline-primary.btn-lg.btn-block{type: 'button', data: {toggle: 'modal', target: '#upgrade-modal'}}
            %i.fas.fa-hand-point-up
            Upgrade FairCustodian
          %label.amount.mt-2
            %span.text-muted
              = "Upgrade your account with up to #{(ENV['SUBSCRIPTION_MAX_PROFILE_COUNT'].to_i - ENV['SUBSCRIPTION_MIN_PROFILE_COUNT'].to_i)} more custom addresses for £3.00/month" 

      .mt-3
        %button.btn.btn-outline-primary.btn-lg.copy-button.btn-block{data: {toggle: 'tooltip', placement: 'top', clipboard: { text: "https://#{ENV['APP_DOMAIN']}/users/sign_up?referrer_code=#{current_user.referral_code}"}}}
          %i.fas.fa-retweet
          Refer a friend
        %label.amount.mt-2
          %span.text-muted
            = "Share your referral link and when your friends sign up, you both get #{ENV['REFERRER_REWARD']} more free profiles"

      %h3.mt-3
        Profiles
        - if current_user.max_profiles > ENV['SUBSCRIPTION_MIN_PROFILE_COUNT'].to_i
          = "#{current_user.profiles.size}/#{current_user.max_profiles}"
      - if current_user.max_profiles > current_user.profiles.count
        = form_for Profile.new, url: profiles_path, html: { class: 'my-3' } do |f|
          .input-group
            = f.text_field :name, class: 'form-control ml-1', value: '', placeholder: 'Create new profile'
            = f.submit 'Create', class: 'btn btn-outline-primary ml-1'
      %ul.list-group.mt-2
        - @profiles.order(created_at: :desc).each do |p|
          = render p


    .col-sm-8.py-3.grey-panel
      - if @messages.empty?
        #welcome
          = render partial: 'home/welcome'
        #messages-card.card.d-none
          .card-header
            %h3#messages-header.mt-2 All Messages
          .card-body
            %ul#messages-list.list-group{data: {id: current_user.id, profile_id: '*'}}
      - else
        .card
          .card-header
            %h3#messages-header.mt-2 All Messages
          .card-body
            %ul#messages-list.list-group{data: {id: current_user.id, profile_id: '*'}}
              - @messages.order(created_at: :desc).each do |m|
                = render m

= render partial: 'upgrade_modal'