%nav{aria: {label: 'breadcrumb'}}
  %ol.breadcrumb
    %li.breadcrumb-item.active{aria: {current: 'page'}} Dashboard

.row
  .col-sm-4
    %h3.mt-2 Profiles
    %ul.list-group
      - if @profiles.empty?
        %li.list-group-item
          Nothing here yet!
      - else
        - @profiles.order(created_at: :desc).each do |p|
          = render p
    = form_for Profile.new, url: profiles_path, html: { class: 'mt-3' } do |f|
      .input-group
        = f.text_field :name, class: 'form-control ml-1', value: '', placeholder: 'Create new profile'
        = f.submit 'Create', class: 'btn btn-outline-primary ml-1'

  .col-sm-8
    %h3.mt-2 All Messages

    %ul.list-group
      - if @messages.empty?
        %li.list-group-item
          Nothing here yet!
      - else
        - @messages.order(created_at: :desc).each do |m|
          = render m