.container-fluid
  .row.my-5
    .col-sm-10.offset-sm-1
      %h1.mb-3 Terms and Conditions

      %small.text-muted.mb-3 Last updated: December 20, 2018

      %p.mt-3 Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the faircustodian.com website (the "Service") operated by Fair Custodian Limited ("us", "we", or "our").
      %p Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
      %p By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.

      %h2 Accounts

      %p When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
      %p You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
      %p You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

      %h2 Subscriptions

      %p Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring and periodic basis ("Billing Cycle").
      %p 
        At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or Fair Custodian cancels it. You may cancel your Subscription renewal either through your online account management page or by contacting us at 
        = mail_to 'subscriptions@faircustodian.com', 'subscriptions@faircustodian.com', subject: '[subscription query]'
      %p A valid payment method, including credit card, is required to process the payment for your Subscription. You shall provide Fair Custodian with accurate and complete billing information and a valid payment method information.

      %h2 Fee Changes

      %p Fair Custodian in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle.
      %p Fair Custodian will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective.
      %p Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.

      %h2 Links To Other Web Sites

      %p Our Service may contain links to third-party web sites or services that are not owned or controlled by Fair Custodian.
      %p Fair Custodian has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services.
      %p You further acknowledge and agree that Fair Custodian shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
      %p We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.

      %h2 Intellectual Property

      %p Fair Custodian shall retain ownership of the copyright and all other intellectual property rights (including, but not limited to, any patent, trade mark, service mark, domain name, trade name or copyright and any application for registration or protection of any of the same anywhere in the world) in the product of the Services the Instance and the software upon which it is based (“the Software”).
      %p Without prejudice to the generality of the forgoing, you shall not:
      %ul
        %li use, copy or transfer the Software (or any part of it) except as permitted by this Agreement; or
        %li alter, adapt, merge, modify or translate the Software (or any part of it) in any way for any purpose; or
        %li reverse-engineer, disassemble or decompile the Software (or any part of it).
      %p Without prejudice, we shall own the copyright in the design and layout of the Instance. All goodwill arising in connection with the Instance shall belong to us.

      %p For the purposes of delivering services to you or other clients, we shall be entitled to use, develop and share knowledge, experience and skills of general application gained through performing the Services.

      %p Any product of the Services released to you in any form or medium shall be supplied by us on the basis that it is for your benefit and information only, and that, save as may be required by law or by a competent regulatory body (in which case you shall inform us in advance), it shall not be copied, referred to our disclosed, in whole (save for your own internal purposes) or in part without our prior written consent.

      %h2 Termination

      %p We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason that includes proof of harmful behaviour such as, but not limited to, spamming, account fraud or death threats.
      %p All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
      %p We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
      %p Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.
      %p Upon account termination, all data relating to the account will be immediately deleted.
      %p All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

      %h2 Confidentiality

      %p We may acquire sensitive information regarding your business and your affairs in the course of delivering the Services (“Confidential Information”).
      %p In relation to confidential information we shall adhere to the confidentiality restrictions imposed on us by any authority in the United Kingdom with whose requirements we are bound to comply, as well as any obligations imposed on us by English law.
      %p We shall be entitled to comply with any requirement of English law or with any authority in the United Kingdom with whose requirements we are bound to comply to disclose Confidential Information.
      %p This clause shall not apply when Confidential Information properly enters the public domain.
      %p This clause shall not prohibit our disclosure of Confidential Information where we wish to disclose it to our insurers or advisers, in which event we may do so in confidence only.
      %p All reports prepared by us are strictly confidential and are issued on the understanding that they are for the use of the addressees only and are not to be discussed with, or shown to, any other party without our prior written consent.

      %h2 Data Protection

      %p Notwithstanding any other provision of this Agreement, in exercising its rights and performing its obligations under this Agreement, Fair Custodian shall, to the extent necessary, comply with the Data Protection Legislation.

      %p For the purpose of this clause, “controller”, “processor”, “personal data”, “process” and “processing” have the meanings given to them by the Data Protection Legislation.
      %p The parties will comply with all applicable requirements of the Data Protection Legislation. The terms of service do not remove or replace, a party’s obligations under the Data Protection Legislation.
      %p The parties each acknowledge that for the purposes of the Data Protection Legislation, you are the controller and Fair Custodian is the processor of any personal data from the point when any such data is transferred by you to Fair Custodian.
      %p If, notwithstanding the intentions of the parties, Fair Custodian processes personal data as a controller, it shall comply with the provisions of the Data Protection Legislation imposed on a controller.
      %p You warrant that you have the legal right and have in place all necessary appropriate consents and notices required to disclose all personal data that you do in fact disclose to Fair Custodian under or in connection with this Agreement, and that the processing of that personal data by Fair Custodian for the purposes of performing its obligations under this Agreement will not breach any Data Protection Legislation.
      %p Without prejudice, in the performance of its obligations under this Agreement, Fair Custodian process personal data on your behalf then in relation to such personal data it shall:
      %p (a) act only on and at all times comply with your lawful, reasonable and documented instructions, unless Fair Custodian is required by the laws of any member of the European Union or by the laws of the European Union applicable to Fair Custodian to process personal data in which case Fair Custodian shall, to the extent permitted by such law, inform you of that legal requirement before processing that personal data;
      %p (b) having regard to the state of technological development and to the cost of implementing any measures, take appropriate technical and organisational measures against  unauthorised or unlawful processing of such personal data, unauthorised access to, or disclosure of, such personal data and against accidental loss or destruction of, or damage to, such personal data, appropriate to the harm that might result from the unauthorised or unlawful processing or accidental loss, destruction or damage and the nature of the data to be protected.
      %p At a minimum, Fair Custodian safeguards for the protection of personal data shall include (i) limiting access of personal data to authorised employees/authorised persons who are obliged to keep the personal data confidential; (ii) securing business facilities, data centres, paper files, servers, back-up; (iii) implementing network, device application, database and platform security; (iv) securing information transmission, storage and disposal; (v) implementing authentication and access controls within applications,  operating systems and equipment; (vi) not sharing, disclosing or subcontracting the processing of such personal data with any third parties, unless required to by an instrument of law, without your express written consent; and (vii) where appropriate, may also include the pseudonymisation or encryption of personal data; not transfer personal data provided by you to Fair Custodian outside of the European Economic Area (EEA) unless such transfer is undertaken in accordance with applicable Data Protection Legislation.
      %p You shall indemnify and hold harmless Fair Custodian against all losses costs and expenses incurred by it as a result of: (1) breach of this agreement; and/or (2) processing personal data on your behalf in accordance with the provisions of this agreement
      %p Fair Custodian may at its sole discretion and at any time on not less than 30 days’ written notice, revise this clause by replacing it with any applicable controller to processor standard clauses or similar terms forming part of an applicable certification scheme.
      %p Where Fair Custodian engages another processor for carrying out specific processing activities on your behalf (a “Sub-processor”), in relation to each Sub-processor:
      %p (a) you acknowledge and hereby authorise Fair Custodian to engage in connection with exercising its rights and performing its obligations under this Agreement those Sub-processors set out in Annex 1 (“Approved Sub-processors”) to this Agreement, which includes the identities of those Sub-processors and their country of location;
      %p (b) Fair Custodian may amend and update the Approved Sub-processors list by providing written notice to you of any proposed new Sub-processor. You may notify Fair Custodian promptly in writing within ten (10) Business Days after receipt of Fair Custodian notice if you have a reasonable basis for objecting to a new Sub-processor.   Fair Custodian shall not appoint (or disclose any personal data to) that proposed Sub-processor until reasonable steps have been taken to address the objections raised by you and you have been provided with a reasonable written explanation of the steps taken;
      %p (c) prior to giving any Sub-processor access to personal data, Fair Custodian shall ensure that such Sub-processor has entered into a written agreement with Fair Custodian including terms in the contract between Fair Custodian and the proposed Sub-processor which are substantially the same as those set out in this clause 8 and the requirements of article 28(3) of the GDPR; and Fair Custodian shall remain fully liable to the Customer for any failure by a Sub-processor to fulfil its obligations in relation to the Processing of any Personal Data under the Agreement; and
      %p (d) in the EEA, or in circumstances or in a country that is the subject of a valid adequacy decision by the European Commission (“Restricted Country”), Fair Custodian may only authorise a third party to process the personal data in a Restricted Country if the Standard Contractual Clauses are at all relevant times incorporated into the agreement between, on the one hand, Fair Custodian and on the other hand the Sub-processor, or, if requested by you and required by Data Protection Legislation, you have entered into (or have procured that any relevant third party has entered into) a controller to processor data transfer agreement, incorporating  the Standard Contractual Clauses for the transfer of personal data to processors established in third countries which do not ensure an adequate level of protection, as set out in Commission Decision C(2010) 593, as updated, amended or superseded from time to time to the extent that such sub-processing does not occur.

      %h2 Limitation of Liability

      %p In no event shall Fair Custodian, nor its employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.

      %h2 Disclaimer

      %p Your use of the Service is at your sole risk. The Service is provided on an "AS AVAILABLE" basis.  The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
      %p Fair Custodian its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.

      %h2 Governing Law

      %p The Agreement shall be subject to and shall be governed by English law and all disputes arising out of or in connection with the Agreement or any related matters shall be subject to the exclusive jurisdiction of the English courts.

      %h2 Changes

      %p We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
      %p By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.

      %h2 Contact Us

      %p
        If you have any questions about these Terms, please contact us at
        = mail_to 'hello@faircustodian.com', 'hello@faircustodian.com', subject: '[T&Cs Query]'

      %h2 Annex 1: Approved Sub-processors

      %p
        We hold our data with Amazon Web Services (AWS) who are contracted by us for the provision of technical services.
        We remain responsible at all times for the security of your information, but if you want to know more about how we interact with AWS you can view their Privacy Notice, amongst their other policies
        = link_to 'here.', 'https://aws.amazon.com/privacy/'

      %p
        We use Stripe in order to process payments and manage subscriptions.
        You can view more information about Stripe and their policies
        = link_to 'here.', 'https://stripe.com/gb/privacy'

      %p
        We use Google Analytics in order to monitor site traffic.
        If you want to learn more about Google’s Analytics service and how they handle your data you can visit their website
        = link_to 'here.', 'https://policies.google.com/privacy'

      %p
        If you have any questions or comments regarding our sub-processor list, please contact us at
        = mail_to 'privacy@faircustodian.com', 'privacy@faircustodian.com', subject: '[Privacy Query]'