.block.block-inverse.block-bordered
  .container
    .row
      .col-md-3
        %address
          %ul.list-unstyled.list-spaced
            %li
              %h4.text-uppercase.text-muted.mb-5
                Address
            %li Fair Custodian Ltd
            %li Office 0.09
            %li PROTO: The New Emerging Technology Centre
            %li Abott's Hill
            %li Gateshead
            %li NE8 3DF
            %li#company-number Company Number: 11609558
      .col-md-3
        %h4.text-uppercase.text-muted.mb-5 Social
        %ul.list-unstyled.list-inline.list-spaced
          %li.list-inline-item
            = link_to 'https://twitter.com/FairCustodianUK' do
              %i.fab.fa-twitter.fa-2x.text-white
          %li.list-inline-item
            = link_to 'https://reddit.com/r/faircustodian' do
              %i.fab.fa-reddit.fa-2x.text-white
          %li.list-inline-item
            = link_to 'https://www.facebook.com/faircustodian' do
              %i.fab.fa-facebook.fa-2x.text-white
          %li.list-inline-item
            = link_to 'https://t.me/faircustodian' do
              %i.fab.fa-telegram.fa-2x.text-white
      .col-md-3
        %h4.text-uppercase.text-muted.mb-5 Support
        %ul.list-unstyled.list-spaced
          %li
            = link_to 'Blog', '//blog.faircustodian.com', target: "_blank"
          %li
            = link_to 'Terms and Conditions', 'https://beta.faircustodian.com/terms'
          %li
            = link_to 'Privacy Policy', 'https://beta.faircustodian.com/privacy'
      .col-md-3
        .mr-3.my-3
          = link_to '//www.openrightsgroup.org/', target: '_blank' do
            = image_tag('org_corporate_sponsor_logo.jpg', height: '80')
        .mr-3.my-3
          = link_to '//ec.europa.eu/regional_policy/en/funding/erdf/', target: '_blank' do
            = image_tag('ERDF_project_logo.jpg', height: '60')
        .mr-3.my-3
          = link_to '//getnorth2018.com/business/gx-project/', target: '_blank' do
            = image_tag('GX_project_logo.png', height: '80')



    .text-center.text-muted
      &copy; Fair Custodian Ltd 2019
