%nav#fc-navbar.navbar.navbar-expand-md.navbar-light.bg-light
  %a.navbar-brand{href: '/'}
    = image_tag('FC_Logo_Grad_Blk.png', height: '30')

  %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navbar-content'}}
    %span.navbar-toggler-icon

  #navbar-content.collapse.navbar-collapse

    %ul.navbar-nav.ml-auto.mt-2.mt-lg-0
      - if !current_user
        %li.nav-item.mx-3.navbar_pre_sign_in.h4
          = link_to 'Sign up', new_user_registration_path, class: 'nav-link my-3'
        %li.nav-item.mx-3.navbar_pre_sign_in.h4
          = link_to 'Sign in', new_user_session_path, class: 'nav-link my-3'
      - elsif current_user
        %li.nav-item.my-3.dropdown.mx-3
          %a.nav-link.dropdown-toggle#navbarDropdown{href: '#', data: {toggle: 'dropdown'}}
            My Account
          .dropdown-menu
            - if !current_user.authy_enabled
              = link_to user_enable_authy_path, method: :post, class: 'dropdown-item' do
                %i.fas.fa-lock
                &nbsp; Enable 2FA
            - else
              = link_to user_disable_authy_path, method: :post, class: 'dropdown-item' do
                %i.fas.fa-unlock
                &nbsp; Disable 2FA
            - unless current_user.stripe_subscription_id.empty? && !current_user.trial
              = link_to 'Cancel Subscription', charge_path(current_user.stripe_subscription_id), method: :delete, class: 'dropdown-item', data: {confirm: 'Are you sure you want to cancel your subsciption? There\'s a fair chance we\'ll delete a bunch of stuff?' }
            - if current_user.admin?
              %button.dropdown-item{type: 'button', data: {toggle: 'modal', target: '#digest-modal'}}
                %i.fas.fa-envelope
                Inbox digest settings
            = link_to edit_user_registration_path, class: 'dropdown-item' do
              %i.fas.fa-edit
              Update my details
            
        - if current_user.admin
          %li.nav-item.my-3.dropdown
            %a.nav-link.dropdown-toggle#adminDropdown{href: '#', data: {toggle: 'dropdown'}}
              Admin
            .dropdown-menu
              = link_to 'Backend', rails_admin_path, class: 'dropdown-item'
              %a.dropdown-item{href: sidekiq_web_path} Sidekiq
              %a.dropdown-item{href: oauth_applications_path} OAuth Applications
              %a.dropdown-item{href: oauth_authorized_applications_path} Authorised Applications
        %li.nav-item.mx-3
          = button_to destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger my-3' do
            %i.fas.fa-sign-out-alt
            Log Out
= render partial: 'application/digest_modal'