!!!
%html
  %head
    %meta{:property => "og:url", :content => "https://beta.faircustodian.com"}
    %meta{:property => "og:title", :content => "Fair Custodian"}
    %meta{:property => "og:description", :content => "The simple way to take control of your data."}
    %meta{:property => "og:image", :content => "#{asset_url('1-1.png')}"}

    %script{async: true,  src: "https://www.googletagmanager.com/gtag/js?id=UA-128947480-1"}
    %script
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-128947480-1');

    %script
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1082357,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

    %link{:rel => "shortcut icon", :href => "#{asset_url('favicon.ico')}", :type => "image/png"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title Fair Custodian
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Questrial', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag '//use.fontawesome.com/releases/v5.6.1/css/all.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'jquery.growl', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application-front', media: 'all', 'data-turbolinks-track': 'reload'

    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    %script{:crossorigin => "anonymous", :src => "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"}
    %script{:crossorigin => "anonymous", :src => "//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"}

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #home-block.block.block-inverse.block-fill-height.pt-0{style: "background-image: url(#{asset_url('fc_signin-bg.png')})"}
      %nav#fc-navbar.navbar.navbar-expand-md.navbar-transparent.navbar.navbar-static-top.mb-5
        %a.navbar-brand{href: '/'}
          = image_tag('FC_Logo_Wht.svg', height: '30')
        %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navbar-content'}}
          %span.navbar-toggler-icon

        #navbar-content.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto.mt-2.mt-lg-0
            - if !current_user
              %li.nav-item.mx-3.navbar_pre_sign_in.h4
                = link_to 'Sign up', new_user_registration_path, class: 'nav-link my-3'
              %li.nav-item.mx-3.navbar_pre_sign_in.h4
                = link_to 'Sign in', new_user_session_path, class: 'nav-link my-3'
            - elsif current_user
              - if current_user.admin
                %li.nav-item.dropdown.mx-3
                  = link_to 'Backend', rails_admin_path, class: 'nav-link my-3'
                %li.nav-item.my-3.dropdown.mx-3
                  %a.nav-link.dropdown-toggle#navbarDropdown{href: '#', data: {toggle: 'dropdown'}}
                    Admin
                  .dropdown-menu
                    %a.dropdown-item{href: oauth_applications_path} OAuth Applications
                    %a.dropdown-item{href: oauth_authorized_applications_path} Authorised Applications
                    %a.dropdown-item{href: sidekiq_web_path} Sidekiq
              - unless current_user.stripe_subscription_id.empty?
                = link_to 'Cancel Subscription', charge_path(current_user.stripe_subscription_id), method: :delete, class: 'nav-link my-3', data: {confirm: 'Are you sure you want to cancel your subsciption? There\'s a fair chance we\'ll delete a bunch of stuff?' }
              %li.nav-item.dropdown.mx-3
                = button_to destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger my-3' do
                  %i.fas.fa-sign-out-alt
                  Log Out

      - if notice
        .alert.alert-primary.mt-2= notice
      - if alert
        .alert.alert-danger.mt-2= alert
      .mt-5
        = yield
    = render partial: 'application/footer'