!!!
%html
  %head
    %meta{:property => "og:url", :content => "https://beta.faircustodian.com"}
    %meta{:property => "og:title", :content => "Fair Custodian"}
    %meta{:property => "og:description", :content => "The simple way to take control of your data."}
    %meta{:property => "og:image", :content => "#{asset_url('FC-Image_01_1x1.jpg')}"}

    - if ENV['USE_GA'] == 'true'
      %script{async: true,  src: "https://www.googletagmanager.com/gtag/js?id=UA-128947480-1"}
      %script
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-128947480-1');

    %link{:rel => "shortcut icon", :href => "#{asset_url('favicon.ico')}", :type => "image/png"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1,user-scalable=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Questrial:400,400italic%7CRoboto:100,100italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/gdpr_main.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    %noscript
      %link{:href => "https://fc-carrd-assets.s3-eu-west-2.amazonaws.com/gdpr_noscript.css", :rel => "stylesheet"}/
    = yield :head
  = yield :body
