.row
  .col-sm-4
    %ul.list-group
      %li.list-group-item
        %h4 Users
      - @account.users.each do |user|
        %li.list-group-item
          = link_to user.email, user

  .col-sm-8 
    %h3.mt-2 Profiles

    %ul.list-group
      - if @account.profiles.empty?
        %li.list-group-item
          No profiles yet! Click the link below to create one.
      - else
        - @account.profiles.each do |p|
          %li.list-group-item
            = link_to p.name, profile_path(p)
      %li.list-group-item
        = link_to 'New Profile', '', class: 'btn btn-outline-primary btn-block', data: {toggle: 'modal', target: '#new-profile-modal'}

.row.mt-5
  .col-sm-8
    %ul.list-group
      %li.list-group-item
        %h4 Account Data
      - JSON.parse(@account.to_json).each do |k,v|
        %li.list-group-item
          %strong= k
          .pull-right
            = v

#new-profile-modal.modal{tabindex: "-1", role: 'dialog'}
  .modal-dialog{role: "document"}
    .modal-content
      = form_for Profile.new, class: 'form' do |f|
        .modal-header
          %h5.modal-title New Profile
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span &times;
        .modal-body
          %label Name your new profile: 
          = f.text_field :name, class: 'form-control'
        .modal-footer
          %button.btn.btn-secondary{data: {dismiss: 'modal'}} Close
          = f.submit 'Create', class: 'btn btn-outline-primary btn-block'